{% extends "base.html" %}
{% block title %}Budget{% endblock %}
{% block content %}
  {% for budget in budgets %}
    <h2>{{ budget.title|e }} <small>{{ budget.description|e }}</small></h2>
    <div class="items">
      {% for key, item in budget.items %}
        <div class="row">
          <div class="span9">
            {{ item.description|e }}
          </div>
          <form class="span3 text-right" method="post" action="/budgets/{{budget._id}}/transactions/{{key}}">
            <strong>{{ item.amount|number_format(2)|e }}</strong>
            <input type="hidden" name="_METHOD" value="DELETE" />
            <button class="close">&times;</button>
          </form>
        </div>
      {%endfor %}
    </div>
    <form class="row" method="post" action="/budgets/{{budget._id}}/transactions">
      <div class="span9"><input type="text" class="input-xxlarge" name="description" placeholder="Description" /></div>
      <div class="input-append span3 text-right">
        <input type="number" class="input-small" step="0.01" name="amount" placeholder="Amount" />
        <button type="submit" class="btn">Save</button>
      </div>
    </form>
    <div class="row alert alert-{% if budget.overrun %}error{% else %}info{% endif %} text-right">
      <form method="post" action="/budgets/{{budget._id}}/transactions">
        <strong>{{ budget.total|number_format(2)|e }}</strong>
        <input type="hidden" name="snapshot" value="true" />
        <button class="close"><img src="/snapshot.png" /></button>
      </form>
    </div>
  {% endfor %}
{% endblock %}
